@model ProjectA_MVC.Models.Executive_Tbl
@{
    ViewBag.Title = "Index1";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link href="~/Bootstrap/Css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Bootstrap/JS/bootstrap.min.js"></script>
    <script src="~/Bootstrap/JS/popper.min.js"></script>
</head>
<body>
    <form>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <img src="~/Images/Cargo1.jpeg" width="200px" height="100px" />
                <div class="collapse navbar-collapse" id="navbarSupportContent">
                    <ul class="navbar-nav d-flex me-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", "Project") &nbsp;&nbsp;
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("About Us", "About", "Project") &nbsp;&nbsp;
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Terms", "Terms", "Project") &nbsp;&nbsp;
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        @if (@Session["role"].Equals("executive"))
                        {
                            <li class="nav-item active">
                                <p>Hi <b>@Session["name"] </b></p>
                            </li>
                        }&nbsp; &nbsp;
                        <li class="nav-item active">
                            @Html.ActionLink("Pending Delivery", "PendingDelivery", "Project") &nbsp;&nbsp;
                        </li>

                        <li class="nav-item active">
                            @Html.ActionLink("Logout", "Logout", "Project")
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h2>Our Features</h2>
                            <p><b>Our 3 primary features</b></p>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img src="~/Images/Background.jpeg" width="150px" height="100px" />
                            <h4>Fast Delivery</h4>
                            <p class="text-justify">Checking the network cables, modem, and router Reconnecting to Wi-Fi Running Windows Network Diagnostics</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="~/Images/SafeDelivery.jpeg" width="150px" />
                            <h4>Safe Delivery</h4>
                            <p class="text-justify">Checking the network cables, modem, and router Reconnecting to Wi-Fi Running Windows Network Diagnostics</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="~/Images/24X.jpeg" width="150px" />
                            <h4>24X7 Delivery</h4>
                            <p class="text-justify">Checking the network cables, modem, and router Reconnecting to Wi-Fi Running Windows Network Diagnostics</p>
                        </center>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h2>Our Process</h2>
                            <p><b>We have simple 3 step process</b></p>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img src="~/Images/sign-up.png" width="150px" />
                            <h4>SignUp</h4>
                            <p class="text-justify">Checking the network cables, modem, and router Reconnecting to Wi-Fi Running Windows Network Diagnostics</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="~/Images/Booking.jpeg" width="150px" />
                            <h4>Add Booking</h4>
                            <p class="text-justify">Checking the network cables, modem, and router Reconnecting to Wi-Fi Running Windows Network Diagnostics</p>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>

                            <img src="~/Images/Delivery.jfif" width="150px" height="150px" />
                            <h4>Get your Items Deliverd</h4>
                            <p class="text-justify">Checking the network cables, modem, and router Reconnecting to Wi-Fi Running Windows Network Diagnostics</p>
                        </center>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
</html>