@model ProjectA_MVC.Models.Booking_Tbl
@{
    ViewBag.Title = "Summary";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link href="~/Bootstrap/Css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Bootstrap/JS/bootstrap.min.js"></script>
    <script src="~/Bootstrap/JS/popper.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="~/Images/Cargo1.jpeg" width="200" height="100" />
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportContent">
                <ul class="navbar-nav d-flex me-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Project", "Index") &nbsp;&nbsp;

                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("About Us", "Project", "Index") &nbsp;&nbsp;
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Terms", "Project", "Index") &nbsp;&nbsp;
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <asp:LinkButton class="nav-link" ID="LinkButton6" runat="server" Text=""></asp:LinkButton>
                    </li>
                    @if (@Session["role"].Equals("customer"))
                    {
                        <li class="nav-item active">
                            <p>Hi <b>@Session["name"] </b></p>

                        </li>

                    }
                    &nbsp; &nbsp;
                    <li class="nav-item active">
                        @Html.ActionLink("Add Booking", "AddBooking", "Project")&nbsp;&nbsp;
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("View Booking", "ViewBooking", "Project")&nbsp;&nbsp;
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Logout", "Logout", "Project")
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <h3><strong class="text-danger">@TempData["Message"]</strong></h3>
    @using (Html.BeginForm("AddBooking", "Project", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <img width="200px" src="~/Images/Summary.png" />
                                    </center>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <h4>Order Summary</h4>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <input type="text" class="form-control" value="@Session["name"]" readonly="true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Address </label>
                                        <input type="text" class="form-control" value="@Session["address"]" readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Customer Id</label>
                                        @Html.TextBoxFor(x => x.Customer_Id, new { @class = "form-control", @ReadOnly = "true", @style = "width=600px;" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @ReadOnly = "true", @type = "date", @style = "width=600px;" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Time of PickUp</label>
                                        @Html.TextBoxFor(x => x.Time, new { @class = "form-control", @ReadOnly = "true", @type = "time", @style = "width=600px;" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Weight</label>
                                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", @ReadOnly = "true", id = "weight", @type = "number", @style = "width=600px;" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Price</label>
                                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @ReadOnly = "true", Value = @Session["price"], @style = "width=600px;" })
                                        @Html.TextBoxFor(x => x.Flag, new { Value = "True", @hidden = "true" })
                                    </div>
                                </div>

                                <br />
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-md" value="Confirm" style="width:500px; margin-top:20px" />
                                    &nbsp;
                                    @Html.ActionLink("Cancel", "AddBooking", "Project",new { @type="button", @class= "btn btn-warning btn-md", @style= "width: 300px; margin-top:20px" })
                                </div>
                            </div>
                        </div>
                        @Html.ActionLink("Change Address", "ChangeAddress", "Project")
                    </div>
                </div>

            </div>
        </div>
    }
</body>
</html>

